 <div class="container-fluid">
        <h1>Register</h1>
                <div ng-show="model.error" class="alert alert-danger">
                        {{model.error}}
                </div>
        <label for="username">Username</label>
        <input ng-model="user.username"
               type="text"
               id="username"
               class="form-control"
               placeholder="username"/>

        <label for="password">Password</label>
        <input ng-model="user.password"
               type="password"
               id="password"
               class="form-control"
               placeholder="password"/>

        <label for="cpassword">Confirm Password</label>
        <input ng-model="user.cpassword"
               type="password"
               id="cpassword"
               class="form-control"
               placeholder="verify password"/>

         <label for="firstName">First Name</label>
         <input ng-model="user.firstName"
                type="text"
                id="firstName"
                class="form-control"
                placeholder="First Name"/>

         <label for="lastName">Last Name</label>
         <input ng-model="user.lastName"
                type="text"
                id="lastName"
                class="form-control"
                placeholder="Last Name"/>

         <label for="email">Email</label>
         <input ng-model="user.email"
                type="email"
                id="email"
                class="form-control"
                placeholder="Email"/>

     <label for="phone">Phone</label>
     <input ng-model="user.phone"
            type="number"
            id="phone"
            class="form-control"
            placeholder="Phone Number"/>

     <div class="form-group">
         <label>Choose the type of user</label>
         <select class="form-control" ng-model="user.roles" required>
             <option value="" disabled selected>Type of user</option>
             <option value="USER">User</option>
             <option value="ADMIN">Admin</option>
         </select>
     </div>

     <a ng-click="model.register(user)"
           class="btn btn-primary btn-block">
                Register
        </a>
        <a class="btn btn-danger  btn-block"
           href="#!login">Cancel</a>
     <div class = "ag-addBottomPadding"></div>
 </div>
