<nav class="navbar navbar-default navbar-fixed-top ag-menu-navbar">
    <div class="container-fluid ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <i class="" aria-hidden="true"></i>
                <strong>HandOuts</strong>
            </a>

        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="">

                    <form ng-show="model.currentUser.role != 'ADMIN'" class="" action="">
                        <input class="input_text grid-9 grid-xl-10 ag-search"
                               type="text"
                               placeholder="I care about..."
                               name="q"
                               title="Search for nonprofits">
                        <a class="glyphicon glyphicon-search"></a>
                    </form>
                </li>

                <li class="">
                    <a ng-if="model.currentUser.role != 'ADMIN' &&
                              model.currentUser.role != 'ORGANIZATION'"
                       class=""
                       href="#!/user/give">
                        Give
                    </a>

                    <a ng-if="model.currentUser.role === 'ORGANIZATION'"
                       class=""
                       href="#!/organization/projects">
                        Projects
                    </a>

                    <a ng-if="model.currentUser.role === 'ADMIN'"
                       class=""
                       href="#!/users/all/manage">
                        Manage Users
                    </a>
                </li>

                <li class="">
                    <a ng-show="model.user.role != 'ADMIN'" class=""
                       href="#!/organization/opportunity/all">
                        Opportunities
                    </a>

                    <!--<a ng-show="model.user.role === 'ADMIN'"-->
                    <!--class=""-->
                    <!--href="#!/organization/all">-->
                    <!--Manage Organization Representative-->
                    <!--</a>-->
                </li>

                <li>
                    <a ng-show="model.currentUser"
                       class=""
                       href="#!/profile">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <strong ng-if="model.currentUser.username">{{model.user.username}}</strong>
                        <strong ng-if="!model.currentUser.username">{{model.user.firstName}}</strong>
                    </a>

                    <a ng-show="!model.currentUser"
                       class=""
                       href="#!/login">
                        <strong>Login</strong>
                    </a>
                </li>

                <li class="">
                    <a ng-show="model.currentUser" class=""
                       ng-click="model.logout()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                    </a>

                    <a ng-show="!model.currentUser" class=""
                       href="#!/register">
                        Sign Up
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

Home