<nav class="navbar navbar-default navbar-fixed-top ag-menu-navbar">
    <div class="container-fluid ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <i class="" aria-hidden="true"></i>
                <strong>HandOuts</strong>
            </a>

        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a ng-if="model.currentUser.role === 'DONOR'"
                       class=""
                       href="#!/user/give">
                        Give
                    </a>

                    <a ng-if="model.currentUser.role === 'ORGANIZATION'"
                       class=""
                       href="#!/organization/projects">
                        Projects
                    </a>

                    <a ng-if="model.currentUser.role === 'ADMIN'"
                       class=""
                       href="#!/users/all/manage">
                        Manage Users
                    </a>
                </li>

                <li class="">
                    <a ng-show="model.currentUser.role != 'ADMIN'" class=""
                       href="#!/organization/opportunity/all">
                        Opportunities
                    </a>

                    <!--<a ng-show="model.currentUser.role === 'ADMIN'"-->
                    <!--class=""-->
                    <!--href="#!/organization/all">-->
                    <!--Manage Organization Representative-->
                    <!--</a>-->
                </li>

                <li class="">
                    <a class=""
                       href="#!/profile">
                        <i class="fa fa-user tnn-logo-navbar" aria-hidden="true"></i>
                        <strong ng-if="model.user.username">{{model.currentUser.username}}</strong>
                        <strong ng-if="!model.user.username">{{model.currentUser.firstName}}</strong>
                    </a>
                </li>

                <li class="">
                    <a class=""
                       ng-click="model.logout()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="top-content" id="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text ">
                    <h1><strong>Profile: </strong> </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box ag-margin-left">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Edit</h3>
                            <!--<p>Enter your username and password to log on:</p>-->
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <div ng-show="model.error"  class="alert alert-danger" role="alert">
                            {{model.error}}
                        </div>

                        <div ng-show="model.message" class="alert alert-success" role="alert">
                            {{model.message}}
                        </div>
                        <form role="form" action="" method="post" class="login-form">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input ng-model="model.thisUser.username"
                                       type="text"
                                       class="form-control"
                                       id="username"
                                       placeholder="alice123">
                            </div>

                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input ng-model="model.thisUser.firstName"
                                       type="text"
                                       class="form-control"
                                       id="firstName"
                                       placeholder="Alice">
                            </div>

                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input ng-model="model.thisUser.lastName"
                                       type="text"
                                       class="form-control"
                                       id="lastName"
                                       placeholder="Wonderland">
                            </div>

                            <div class="form-group">
                                <label for="role">Role</label>
                                <input ng-model="model.thisUser.role"
                                       type="text"
                                       class="form-control"
                                       id="role"
                                       placeholder="role">
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input ng-model="model.thisUser.password"
                                       type="password"
                                       id="password"
                                       class="form-control"
                                       placeholder="password"/>
                            </div>

                            <div ng-if="model.thisUser.role === 'ORGANIZATION'"
                                 class="form-group">
                                <label for="orgName">Organization Name</label>
                                <input ng-model="model.thisUser.organization"
                                       type="text"
                                       class="form-control"
                                       id="orgName">
                            </div>

                            <div ng-if="model.thisUser.role === 'ORGANIZATION'"
                                 class="form-group">
                                <label for="regNum">Registration Number</label>
                                <input ng-model="model.thisUser.registrationNumber"
                                       type="text"
                                       class="form-control"
                                       id="regNum">
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input ng-model="model.thisUser.email"
                                       type="email"
                                       class="form-control"
                                       id="email"
                                       placeholder="alice@wonderland.com">
                            </div>

                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input ng-model="model.thisUser.phone"
                                       type="string"
                                       class="form-control"
                                       id="phone"
                                       placeholder="6178764567">
                            </div>

                            <a class="btn btn-success btn-block"
                               ng-click="model.modifyUser(model.thisUserId, model.thisUser)">
                                Update
                            </a>

                            <a class="btn btn-warning  btn-block"
                               href="#!/users/all/manage">
                                Cancel
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div ng-include="'views/common/footer.view.client.html'"></div>

<script type="text/javascript">
    //Toggle Menu
    $(".navbar-toggle").click(function() {
        if ($('#myCollapsible').collapse) {
            return $("body").toggleClass("no-scroll");
        }
    });

</script>


