<div ng-include="'views/common/header-menu.view.client.html'"></div>

<div class="container-fluid ag-pushBody">

    <div class="row container-fluid">
        <div ng-show="model.message" class="alert alert-success" role="alert">
            {{model.message}}
        </div>
        <h3>Add Followings of {{model.thisUser.username}}</h3>

        <ul class="list-group">
            <li class="list-group-item active">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-9">
                        Username
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                        First Name
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3  hidden-xs">
                        Last Name
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                        Role
                    </div>
                    <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
                        Email
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-2">

                    </div>
                </div>
            </li>

            <div ng-if="model.allDonors.length == '0'"
                 class="alert alert-info">
                No users found!
            </div>

            <li ng-repeat="donor in model.allDonors" class="list-group-item">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-9">
                        {{donor.username}}
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                        {{donor.firstName}}
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                        {{donor.lastName}}
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                        {{donor.role}}
                    </div>
                    <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
                        {{donor.email}}
                    </div>

                    <div class="col-lg-1 col-md-2 col-sm-2">
                        <a ng-if="donor._id != model.thisUserId &&
                        donor.followers.indexOf(model.thisUserId) === -1"
                           ng-click="model.follow(donor._id)">
                            <span class="glyphicon glyphicon-plus pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class = "ag-addBottomPadding"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom ag-footer-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link" href="#!/admin/user/{{model.thisUserId}}/details">
                <span class="glyphicon glyphicon-backward"></span>
            </a>

        </div>
    </div>
</nav>