<div ng-include="'views/common/header-menu.view.client.html'"></div>

<div class="container-fluid ag-pushBody">
    <div>
        <div ng-show="model.message"  class="alert alert-success alert-dismissable fade in" role="alert">
            <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{model.message}}
        </div>
        <div ng-show="model.error"  class="alert alert-danger alert-dismissable fade in" role="alert">
            <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{model.error}}
        </div>

        <h2> Profile: {{model.thisUser.firstName}}  {{model.thisUser.lastName}}</h2>

        <div ng-show="model.thisUser.role === 'DONOR'"
             class="row container-fluid">
            <h3>Favourites</h3>

            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-9">
                            Project id
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                            Title
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3  hidden-xs">
                            Organization
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                            Cause Name
                        </div>
                        <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
                           Country
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2">
                            <a href="#!/admin/user/{{model.thisUserId}}/add">
                                <span class="glyphicon glyphicon-plus pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <div ng-if="model.thisUser.favourites.length == '0'"
                     class="alert alert-info">
                    No favourites added yet!
                </div>

            <li ng-repeat="fav in model.thisUser.favourites" class="list-group-item">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-9">
                        {{fav.projectId}}
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                        {{fav.title}}
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                        {{fav.organization}}
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                        {{fav.causeName}}
                    </div>
                    <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
                        {{fav.country}}
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-2">
                        <a ng-click="model.removeFromFavourites(fav._id)">
                            {{fav.projectId}}
                            <span class="glyphicon glyphicon-remove pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
            </ul>
        </div>

        <div ng-show="model.thisUser.role === 'DONOR'"
             class="row container-fluid">
            <h3>Wishlist</h3>

            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-9">
                            Project id
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                            Title
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3  hidden-xs">
                            Organization
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                            Cause Name
                        </div>
                        <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
                            Country
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2">
                            <a href="#!/admin/user/{{model.thisUserId}}/add">
                                <span class="glyphicon glyphicon-plus pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <div ng-if="model.thisUser.projects.length < 1"
                     class="alert alert-info">
                    Nothing added in wishlist yet!
                </div>

                <li ng-repeat="proj in model.thisUser.projects" class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-9">
                            {{proj.projectId}}
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                            {{proj.title}}
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                            {{proj.organization}}
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                            {{proj.causeName}}
                        </div>
                        <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
                            {{proj.country}}
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2">
                            <a ng-click="model.removeFromWishlist(proj.projectId)">
                                <span class="glyphicon glyphicon-remove pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div ng-show="model.thisUser.role === 'DONOR'"
             class="row container-fluid">
            <h3>Followers</h3>

            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                         <div class="col-lg-2 col-md-2 col-sm-2 col-xs-9">
                            Username
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                            First Name
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3  hidden-xs">
                            Last Name
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                            Role
                        </div>
                        <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
                            Email Id
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2">
                            <a href="#!/admin/user/{{model.thisUserId}}/addFollower">
                                <span class="glyphicon glyphicon-plus pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <div ng-if="model.thisUser.followers.length < 1"
                     class="alert alert-info">
                    No one is following yet!
                </div>

                <li ng-repeat="follower in model.thisUser.followers" class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-9">
                            {{follower.username}}
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                            {{follower.firstName}}
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                            {{follower.lastName}}
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                            {{follower.role}}
                        </div>
                        <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
                            {{follower.email}}
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2">
                            <a ng-click="model.removeFromFollower(follower)">
                                <span class="glyphicon glyphicon-remove pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div ng-show="model.thisUser.role === 'DONOR'"
             class="row container-fluid">
            <h3>Following</h3>

            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-9">
                            Username
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                            First Name
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3  hidden-xs">
                            Last Name
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                            Role
                        </div>
                        <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
                            Email Id
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2">
                            <a href="#!/admin/user/{{model.thisUserId}}/addFollowing">
                                <span class="glyphicon glyphicon-plus pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <div ng-if="model.thisUser.following.length == '0'"
                     class="alert alert-info">
                    No one is following yet!
                </div>

                <li ng-repeat="following in model.thisUser.following" class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-9">
                            {{following.username}}
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                            {{following.firstName}}
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                            {{following.lastName}}
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                            {{following.role}}
                        </div>
                        <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
                            {{following.email}}
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2">
                            <a ng-click="model.unfollow(following._id)">
                                <span class="glyphicon glyphicon-remove pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div ng-show="model.thisUser.role === 'DONOR'"
             class="row container-fluid">
            <h3>Opportunities</h3>

            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            Username
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-2 hidden-xs">
                            Project
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4  col-xs-6">
                            Title
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                            Created By
                        </div>
                        <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
                            Organization
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2">
                            <a href="#!/admin/user/{{model.thisUserId}}/opportunity/add">
                                <span class="glyphicon glyphicon-plus pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <div ng-if="!model.opportunities[0]._volunteers"
                     class="alert alert-info">
                    Participated in no volunteer opportunities yet!
                </div>

                <li ng-repeat="opportunity in model.opportunities" class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            {{model.thisUser.username}}
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-2 hidden-xs">
                            {{opportunity.projectId}}
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            {{opportunity.title}}
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                            {{opportunity._createdBy.username}}
                        </div>
                        <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
                            {{opportunity._createdBy.organization}}
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2">
                            <a ng-click="model.deleteVolunteer(model.thisUser._id, opportunity._id)">
                                <span class="glyphicon glyphicon-remove pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div ng-show="model.thisUser.role === 'ORGANIZATION'"
             class="row container-fluid">
            <h3>Opportunities</h3>

            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
                            Created By
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-2 hidden-xs">
                            Project
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4  col-xs-6">
                            Title
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                            Organization
                        </div>
                        <div class="col-lg-3 col-md-2 col-sm-2 col-xs-4">
                            Volunteers
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2">
                            <a href="#!/admin/user/{{model.thisUserId}}/organization/projects">
                                <span class="glyphicon glyphicon-plus pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <div ng-if="model.Orgopportunities.length == 0"
                     class="alert alert-info">
                    No opportunities created yet!
                </div>

                <li ng-repeat="opportunity in model.Orgopportunities" class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
                            {{model.thisUser.username}}
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-2 hidden-xs">
                            {{opportunity.projectId}}
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            {{opportunity.title}}
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                            {{model.thisUser.organization}}
                        </div>
                        <div class="col-lg-3 col-md-2 col-sm-2 col-xs-4">
                        <ul>
                            <li ng-repeat="volunteer in opportunity._volunteers">
                                {{volunteer.username}}
                                <a ng-click="model.deleteVolunteer(volunteer._id, opportunity._id)">
                                    <span class="glyphicon glyphicon-remove pull-right"></span>
                                </a>
                            </li>
                        </ul>
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2">
                            <a ng-click="model.deleteOpportunity(opportunity._id)">
                                <span class="glyphicon glyphicon-remove pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <div class="row container-fluid">
            <h3>Comments</h3>

            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            First Name
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                            Last Name
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2  hidden-xs">
                            Project
                        </div>
                        <div class="col-lg-3 col-md-2 col-sm-3 col-xs-6">
                            Comments
                        </div>
                        <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
                            Created At
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2">

                        </div>
                    </div>
                </li>

                <div ng-if="!model.comments[0].comment"
                     class="alert alert-info">
                    No comments found!
                </div>

                <li ng-repeat="cmnt in model.comments" class="list-group-item">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            {{model.thisUser.firstName}}
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                            {{model.thisUser.lastName}}
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2 hidden-xs">
                            {{cmnt._project}}
                        </div>
                        <div class="col-lg-3 col-md-2 col-sm-3 col-xs-6">
                            {{cmnt.comment}}
                        </div>
                        <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
                            {{cmnt.createdAt}}
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2">
                            <a ng-click="model.deleteComment(cmnt._id)">
                                <span class="glyphicon glyphicon-remove pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row container-fluid">
            <h3>Donation Transactions</h3>

            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-9">
                            Transaction Id
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                            Username
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-2  hidden-xs">
                            Project
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-2 hidden-xs">
                            Amount
                        </div>
                        <div class="col-lg-4 col-md-3 hidden-sm hidden-xs">
                            Donated On
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2">
                        </div>
                    </div>
                </li>

                <div ng-if="model.donations.length == '0'"
                     class="alert alert-info">
                    No donation history!
                </div>

                <li ng-repeat="donation in model.donations" class="list-group-item">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-9">
                            {{donation._id}}
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                            {{donation._user.username}}
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-2 hidden-xs">
                            {{donation._project}}
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-2 hidden-xs">
                            {{donation.amount}}
                        </div>
                        <div class="col-lg-4 col-md-3 hidden-sm hidden-xs">
                            {{donation.createdAt}}
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2">
                            <a ng-click="model.deleteDonation(donation._id)">
                                <span class="glyphicon glyphicon-remove pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>



    </div>
    <div class = "ag-addBottomPadding"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom ag-footer-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link" href="#!/users/all/manage">
                <span class="glyphicon glyphicon-backward"></span>
            </a>

        </div>
    </div>

</nav>

