<div ng-include="'views/common/header-menu.view.client.html'"></div>

<div class="container-fluid ag-pushBody">
    <h2>Manage Users</h2>
    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-9">
                    Username
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                    First Name
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3  hidden-xs">
                    Last Name
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                    Role
                </div>
                <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
                    Date Created
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <a href="#!/admin/user/create">
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </div>
            </div>
        </li>

        <li ng-repeat="thisUser in model.allUsers" class="list-group-item">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-9">
                    <a href="#!/admin/user/{{thisUser._id}}/details">
                        {{thisUser.username}}
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                    {{thisUser.firstName}}
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                    {{thisUser.lastName}}
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                    {{thisUser.role}}
                </div>
                <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
                    {{thisUser.dateCreated}}
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <a ng-click="model.deleteUser(thisUser._id)">
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </a>
                    <a href="#!/admin/user/{{thisUser._id}}/edit">
                        <span class="glyphicon glyphicon-cog ag-align-glyphicon-edit pull-right"></span>
                    </a>
                </div>
                <!--<div class="col-xs-3 col-md-2 col-lg-1">-->
                    <!--<a href="#!/website/{{model.websiteId}}/page/{{page._id}}">-->
                        <!--<span class="glyphicon glyphicon-remove pull-right"></span>-->
                    <!--</a>-->
                <!--</div>-->
            </div>
        </li>

    </ul>
    <div class = "ag-addBottomPadding"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom ag-footer-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link" href="#!/">
                <span class="glyphicon glyphicon-backward"></span>
            </a>

        </div>
    </div>

</nav>
