<nav class="navbar navbar-default navbar-fixed-top ag-menu-navbar">
    <div class="container-fluid ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <i class="" aria-hidden="true"></i>
                <strong>HandOuts</strong>
            </a>

        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="">

                    <form ng-show="model.currentUser.role != 'ADMIN'" class="" action="">
                        <input class="input_text grid-9 grid-xl-10 ag-search"
                               type="text"
                               placeholder="I care about..."
                               name="q"
                               title="Search for nonprofits">
                        <a class="glyphicon glyphicon-search"></a>
                    </form>
                </li>

                <li class="">
                    <a ng-if="model.currentUser.role === 'DONOR'"
                       class=""
                       href="#!/user/give">
                        Give
                    </a>

                    <a ng-if="model.currentUser.role === 'ORGANIZATION'"
                       class=""
                       href="#!/organization/projects">
                        Projects
                    </a>

                    <a ng-if="model.currentUser.role === 'ADMIN'"
                       class=""
                       href="#!/users/all/manage">
                        Manage Users
                    </a>
                </li>

                <li class="">
                    <a ng-show="model.currentUser.role != 'ADMIN'" class=""
                       href="#!/organization/opportunity/all">
                        Opportunities
                    </a>

                    <!--<a ng-show="model.user.role === 'ADMIN'"-->
                    <!--class=""-->
                    <!--href="#!/organization/all">-->
                    <!--Manage Organization Representative-->
                    <!--</a>-->
                </li>

                <li class="">
                    <a class=""
                       href="#!/profile">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <strong ng-if="model.currentUser.username">{{model.currentUser.username}}</strong>
                        <strong ng-if="!model.currentUser.username">{{model.currentUser.firstName}}</strong>
                    </a>
                </li>

                <li class="">
                    <a class=""
                       ng-click="model.logout()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid ag-pushBody">

    <div ng-show="model.opportunities" class="ag-myOpportunities">
        <div ng-show="model.message"
             class="alert alert-success">
            {{model.message}}
        </div>

        <h2> All Opportunities</h2>
        <div ng-show="model.opportunities.length == 0" class="alert alert-info">
            <p>No opportunities found</p>
        </div>


        <div ng-repeat="opp in model.opportunities" class="ag-myOpportunities-list">
            <div>
                <img  class="ag-myOpportunities-thumbnail" ng-src="{{opp.imageUrl || '../../../project/css/img/backgrounds/banner.jpg'}} ">
            </div>

            <div class="ag-myOpp-content">
                <h4><a href="#!/organization/opportunity/{{opp._id}}">{{opp.title}}</a></h4>
                <div style="color: grey">
                                <span class="ag-date">
                                    <i class="fa fa-clock-o"></i>
                                    <span class="date-start dtstart" style="color: grey">
                                         {{opp.startDate | date : "MMMM dd-h:mm a"}}
                                    </span>
                                    -
                                    <span class="date-end dtend" style="color: grey">
                                         {{opp.endDate | date : "MMMM dd-h:mm a"}}
                                    </span>
                                </span>

                    <span class="ag-location" style="color: grey">
                                    <i class="fa fa-map-marker"></i>
                                    {{opp.location}}
                                </span>

                    <a ng-show="opp._volunteers.indexOf(model.thisUserId) === -1"
                       style="font-size: large"
                       class="glyphicon glyphicon-plus pull-right"
                       ng-click="model.addVolunteer(opp._id)">
                    </a>

                    <!--<a ng-if="opp._volunteers.indexOf(model.currentUser._id) > -1"-->
                       <!--style="font-size: large"-->
                       <!--class="glyphicon glyphicon-remove pull-right"-->
                       <!--ng-click="model.deleteVolunteer(opp._id)">-->
                    <!--</a>-->

                </div>

                <div class="ag-excerpt">
                    <p style="color: grey"
                       ng-bind-html="opp.description | excerpt:300">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class = "ag-addBottomPadding"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom ag-footer-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a ng-if="model.currentUser.role === 'ADMIN'"
                    class="navbar-link" href="#!/admin/user/{{model.thisUserId}}/details">
                <span class="glyphicon glyphicon-backward"></span>
            </a>

        </div>
    </div>

</nav>

