<div ng-include="'views/common/header-menu.view.client.html'"></div>

<div class="container-fluid ag-pushBody">

    <div ng-show="model.opportunities" class="ag-myOpportunities">
        <div ng-show="model.message"
            class="alert alert-success">
            {{model.message}}
        </div>

        <h2>Opportunities</h2>
        <div ng-show="model.opportunities.length == 0" class="alert alert-info">
            <p>No opportunities found</p>
        </div>


        <div ng-repeat="opp in model.opportunities" class="ag-myOpportunities-list">
            <div>
                <img  class="ag-myOpportunities-thumbnail" ng-src="{{opp.imageUrl || '../../../project/css/img/backgrounds/banner.jpg'}} ">
            </div>

            <div class="ag-myOpp-content">
                <h4><a href="#!/organization/opportunity/{{opp._id}}">{{opp.title}}</a></h4>
                <div style="color: grey">
                                <span class="ag-date">
                                    <i class="fa fa-clock-o"></i>
                                    <span class="date-start dtstart" style="color: grey">
                                         {{opp.startDate | date : "MMMM dd-h:mm a"}}
                                    </span>
                                    -
                                    <span class="date-end dtend" style="color: grey">
                                         {{opp.endDate | date : "MMMM dd-h:mm a"}}
                                    </span>
                                </span>

                    <span class="ag-location" style="color: grey">
                                    <i class="fa fa-map-marker"></i>
                                    {{opp.location}}
                                </span>

                    <a ng-if="opp._volunteers.indexOf(model.currentUser._id) === -1"
                       style="font-size: large"
                       class="glyphicon glyphicon-plus pull-right"
                       ng-click="model.addVolunteer(opp._id)">
                    </a>

                    <a ng-if="opp._volunteers.indexOf(model.currentUser._id) > -1"
                       style="font-size: large"
                       class="glyphicon glyphicon-remove pull-right"
                       ng-click="model.deleteVolunteer(opp._id)">
                    </a>

                </div>

                <div class="ag-excerpt">
                    <p style="color: grey"
                       ng-bind-html="opp.description | excerpt:300">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class = "ag-addBottomPadding"></div>
</div>
