input.form-control,
textarea.form-control,
select.form-control,
file.form-control {
    margin-bottom: 7px;
}

.ag-bottomspace {
    margin-bottom: 7px;
}

textarea.form-control {
    margin-bottom: 7px;
    resize: none;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow-x: hidden;
    /**white-space: nowrap; **/
}

.navbar-default .glyphicon.glyphicon-chevron-left {
    right:-10px;
}

.navbar-default .glyphicon.glyphicon-ok, .glyphicon.glyphicon-plus{
    left: 20px;
}

nav.navbar.navbar-default.navbar-fixed-top {
    padding-right: 15px;
}

.navbar-default {
    background-color: rgb(36, 64, 80);
    border-color: rgb(36, 64, 80);
}

.navbar-default .navbar-brand { /* Space between them means second one is child/grandchild of first one. And if '>' is place
                                    in between then it means second one is the immediate child of first one*/
    color: #ffffff;
}

.navbar-header {
    width: 100%;
    padding-left: 12px;
}

.navbar-text.pull-left {
    margin-right: 10px;
    margin-left: 0px;
}

.navbar-default .navbar-link {
    color: #fff;
}

.navbar-default .navbar-link glyphicon-ok{
    color: #fff;
    padding-right: 0px;
}

.navbar.navbar-default a {
    color: #fff;
}

.navbar.navbar-default.navbar-fixed-bottom .container-fluid {
    padding-left: 0px;
}

.row.navbar-text {
    margin-left: 0px;
}

.wd-para, .wd-header {
    white-space: normal;
}

.wd-widget > img {
    width:100%;
}

.wd-widget {
    margin-bottom: 10px;
}

.wd-widget > .wd-widget-toolbar {
    position: absolute;
    right: 15px;
    background: white;
    opacity: 0.9;
    padding: 5px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}


@media (min-width: 768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
}

@media (min-width: 768px) {
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-right: 0;
        margin-left: 0;
        padding-left: 0px;
    }
}

visitedColor {
    color: white;
}

a:hover {
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

row {
    white-space: nowrap;
}

.ag-addBottomPadding {
    padding-bottom: 60px;
}