<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container-fluid">
    <div class="input-group">
        <input ng-model="searchText"
               type="text"
               class="form-control">
        <span class="input-group-btn">
        <a ng-click="model.searchPhotos(searchText)"
           class="btn btn-default"
           type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>

    <!--<div class="row">-->
        <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4" ng-repeat="org in model.orgs.photo">-->
            <!--<img ng-click="model.selectPhoto(photo)" class="img-thumbnail"-->
                 <!--ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class = "ag-addBottomPadding"></div>-->
</div>

</body>
</html>