<div ng-switch="model.widget.widgetType">
    <div ng-switch-when="HEADING">
        <ng-include src="'views/widget/templates/widget-edits/widget-heading-edit.view.client.html'"/>
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'views/widget/templates/widget-edits/widget-image-edit.view.client.html'"/>
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include src="'views/widget/templates/widget-edits/widget-youtube-edit.view.client.html'"/>
    </div>
    <div ng-switch-when="HTML">
        <ng-include src="'views/widget/templates/widget-edits/widget-html-edit.view.client.html'"/>
    </div>
</div>