<div ng-include="'views/common/header-menu.view.client.html'"></div>

<div class="container-fluid ag-pushBody">
                <div>
                    <div ng-show="model.message"  class="alert alert-success alert-dismissable fade in" role="alert">
                        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{model.message}}
                    </div>
                    <div ng-show="model.error"  class="alert alert-danger alert-dismissable fade in" role="alert">
                        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{model.error}}
                    </div>

                    <h3 class="ag-profileHeader">{{model.proj.title}}</h3>
                    <p class="ag-profileHeader">by {{model.proj.organization.name}} , {{model.proj.country}}</p>

                    <div ng-if="model.currentUser.role === 'ORGANIZATION' || model.currentUser.role === 'ADMIN'">
                        <a ng-show="model.wantVolunteers"
                           href="#!/organization/project/{{model.projectId}}/opportunity/create"
                           class="btn btn-primary btn-block">
                            Want Volunteers
                        </a>
                        <a ng-show="!model.wantVolunteers"
                           ng-click="model.removeVolunteersForm(model.proj.id)"
                           class="btn btn-danger btn-block">
                            No longer needed volunteers
                        </a>
                    </div>

                    <div ng-if="model.currentUser.role === 'DONOR' || model.currentUser.role === 'ADMIN'">
                        <a ng-show="model.opportunities.length > 0"
                           href="#!/project/{{model.projectId}}/opportunity/all"
                           class="btn btn-primary btn-block">
                            Volunteer Opportunities
                        </a>
                    </div>

                <div ng-if="model.currentUser.role === 'DONOR' || model.currentUser.role === 'ADMIN'">
                        <!--ng-show="model.currentUser.role == 'DONOR'">-->
                    <a ng-show="!model.saved"
                       ng-click="model.addToWishList(model.proj.id, model.proj)"
                       class="btn btn-success btn-block">
                        Add to WishList
                    </a>
                    <a ng-show="model.saved"
                       ng-click="model.removeFromWishList(model.proj.id)"
                       class="btn btn-danger btn-block">
                         Remove from Wishlist
                    </a>

                <div ng-if="model.currentUser.role === 'DONOR' || model.currentUser.role === 'ADMIN'">
                    <!--ng-show="model.currentUser.role == 'DONOR'">-->
                    <a ng-show="!model.favourite"
                       ng-click="model.addToFavourites(model.proj.id, model.proj)"
                       class="btn btn-info btn-block glyphicon glyphicon-heart-empty">
                        Add Project to Favourites
                    </a>
                    <a ng-show="model.favourite"
                       ng-click="model.removeFromFavourites(model.currentUser.favourites.indexOf(model.thisFav[0]))"
                       class="btn btn-danger btn-block glyphicon glyphicon-heart">
                        Remove Project From Favourites
                    </a>
                </div>


                <span class="col-xs-12 text-right ag-donationTab"
                      ng-show="model.showDonate == true && model.currentUser.role != 'ADMIN' && model.currentUser.role != 'ORGANIZATION'">
                    <!--<a href="#!/user/{{model.currentUser}}/project/{{model.projectId}}/donate" class="btn btn-primary">-->
                    <a ng-click="model.donating = true; model.showDonate = false" class="btn btn-primary">
                        Donate Now
                    </a>
                </span>

                    <div ng-if="model.donating == true" class="ag-donationTab">
                        <div ng-show="!model.currentUser._id"  class="alert alert-danger" role="alert">
                            Kindly register/login to donate to this project
                        </div>
                        <span ng-show="model.currentUser._id">
                        <span>
                        <label for="amount">How much do you want to contribute?</label>
                        <input ng-keyup="$event.keyCode == 13  && model.sendDonation(donation)"
                               type="text"
                               class="form-control ag-form"
                               id="amount"
                               required
                               ng-model="donation.amount"
                               placeholder="Enter amount"
                               reqiured/>
                        </span>
                        <span>
                            <label>USD</label>
                        </span>
                        &nbsp &nbsp
                        <span class="text-right">
                            <a ng-click="model.sendDonation(donation)"
                               class="btn btn-primary"
                               type="button"> Donate
                            </a>
                        </span>
                        <div ng-show="model.donationError" class="text-danger">
                            {{model.donationError}}
                        </div>
                        </span>
                        </div>
                    </div>
                </div>

                <img class="img-responsive-home ag-fullWidth"
                     ng-src="{{model.proj.imageLink}}"
                     alt="{{model.proj.title}}"/>
                <div>
                    <h3><b>Summary</b></h3>
                    <p>{{model.proj.summary}}</p>
                </div>
        <hr/>

    <div>
        <h3><b>Activities</b></h3>
        <p>{{model.proj.activities}}</p>
    </div>

    <hr/>
                <div>
                    <span>Goal: {{model.proj.goal}}</span> &nbsp; &nbsp;
                    <span>funding: {{model.funding}}</span> &nbsp; &nbsp;
                    <span>remaining: {{model.proj.goal - model.funding}}</span>

                </div>
    <hr/>

    <div>
        <span>Project Link:
            <a href="{{model.proj.projectLink}}">
                {{model.proj.title}}
            </a>
        </span>
    </div>

                <!--<p>by {{org.organization.name}}</p>-->

    <!--Comment Section-->
    <div ng-show="model.currentUser.role === 'DONOR' ||
    model.currentUser.role === 'ORGANIZATION'" class=".ag-comments-section">
        <hr/>
        <div class="ag-comments-heading">Comments</div>

        <div ng-show="model.blankCommentError"
             class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <p class="ag-left-alignment">{{model.blankCommentError}}</p>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group .ag-comment-box">
                    <input  ng-keyup="$event.keyCode == 13 && model.postComment(model.comment)"
                            class="form-control"
                            placeholder="Enter your comment here"
                            type="text"
                            ng-model="model.comment.text"/>
                    <div class="input-group-btn tnn-comment-send-div">
                        <a  ng-click="model.postComment(model.comment)"
                            class="btn btn-success"
                            title="Post a comment">
                            <i class="glyphicon glyphicon-send"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="model.currentUser.role != 'ORGANIZATION'" class="ag-project-comments-display container-fluid"
         ng-repeat="comment in model.proj.comments">
        <span class="input-group container">
            <div>
            <a title="Posted at {{comment.createdAt}}"
               href="#!/user/{{comment._user._id}}">
                <!--{{comment._user.firstName+" "+comment._user.lastName}}-->
            </a>
            <div class="ag-left-alignment">
                <span>
                    <a href="#!/user/{{comment._user._id}}">
                        {{comment._user.firstName}}
                        {{comment._user.lastName}}
                    </a>
                </span>
                &nbsp; &nbsp;
                <span>
                    {{comment.comment}}
                </span>
            <span ng-show="comment._user._id === model.currentUser._id"
                  class="ag-comment-delete pull-right">
            <a ng-click="model.deleteComment(comment._id)" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash "></span> Delete Comment
            </a>
        </span>
            </div>
                <div class="ag-left-alignment">Posted at {{comment.createdAt}}  </div>
            </div>



        </span>
    </div>

    <div ng-show="model.currentUser.role == 'ORGANIZATION'"
         class="ag-project-comments-display container-fluid"
         ng-repeat="comment in model.proj.comments">
        <span class="input-group container">
            <div>
            <a title="Posted at {{comment.createdAt}}"
               href="#!/user/{{comment._user._id}}">
                <!--{{comment._user.firstName+" "+comment._user.lastName}}-->
            </a>
            <div class="ag-left-alignment">
                <span><strong>
                        {{comment._user.firstName}}
                        {{comment._user.lastName}}
                    </strong>
                </span>
                &nbsp; &nbsp;
                <span>
                    {{comment.comment}}
                </span>
            <span ng-show="comment._user._id === model.currentUser._id"
                  class="ag-comment-delete pull-right">
            <a ng-click="model.deleteComment(comment._id)" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash "></span> Delete Comment
            </a>
        </span>
            </div>
                <div class="ag-left-alignment">Posted at {{comment.createdAt}}  </div>
            </div>



        </span>
    </div>


</div>

<div class = "ag-addBottomPadding"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom ag-footer-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a ng-if="model.isAdmin"
               class="navbar-link" href="#!/admin/user/{{model.thisUserId}}/add">
                <span class="glyphicon glyphicon-backward"></span>
            </a>

            <a ng-if="!model.isAdmin"
               class="navbar-link" href="#!/user/give">
                <span class="glyphicon glyphicon-backward"></span>
            </a>

        </div>
    </div>
</nav>
