<nav class="navbar navbar-default navbar-fixed-top ag-menu-navbar">
    <div class="container-fluid ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <i class="" aria-hidden="true"></i>
                <strong>HandOuts</strong>
            </a>

        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="">

                    <form class="" action="">
                        <input class="input_text grid-9 grid-xl-10 ag-search"
                               type="text"
                               placeholder="I care about..."
                               name="q"
                               title="Search for nonprofits">
                        <a class="glyphicon glyphicon-search"></a>
                    </form>
                </li>

                <li class="">
                    <a ng-if="model.user.role === 'DONOR'"
                       class=""
                       href="#!/user/give">
                        Give
                    </a>

                    <a ng-if="model.user.role === 'ORGANIZATION'"
                       class=""
                       href="#!/organization/projects">
                        Projects
                    </a>
                </li>

                <li class="">
                    <a class=""
                       href="#!/profile">
                        <i class="fa fa-user tnn-logo-navbar" aria-hidden="true"></i>
                        <strong ng-if="model.user.username">{{model.user.username}}</strong>
                        <strong ng-if="!model.user.username">{{model.user.firstName}}</strong>
                    </a>
                </li>

                <li class="">
                    <a class=""
                       ng-click="model.logout()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid ag-pushBody">
    <div ng-show="!model.projs" class="alert alert-info">
        <p>No projects started yet</p>
    </div>
    <div ng-show="model.projs && !model.thisUserId">
        <h2>Projects of {{model.user.organization}}</h2>
        <span ng-repeat="proj in model.projs">
            <span>
                <a href="#!/browseProjects/{{proj.id}}">
                    <img class="img-responsive-home"
                         ng-src="{{proj.imageLink}}"
                         alt="{{proj.title}}"/>
                    <span><h4>{{proj.title}}</h4></span>
                </a>
            </span>
            <hr/>
        </span>
    </div>


    <!--Admin functionality to add opportunities-->





    <div class = "container-fluid row" ng-show="model.projs && model.thisUserId">
        <h2>Projects of {{model.thisUser.organization}}</h2>
        <span ng-repeat="proj in model.projs">
            <span>
                <!--<a href="#!/admin/user/{{model.thisUserId}}/browseProjects/{{proj.id}}">-->
                    <img class="img-responsive-home"
                         ng-src="{{proj.imageLink}}"
                         alt="{{proj.title}}"/>
                    <h4>{{proj.title}}</h4>
                <!--</a>-->
            </span>
            <span>
                 <a href="#!/admin/{{model.thisUserId}}/organization/project/{{proj.id}}/opportunity/create">
                                <span class="glyphicon glyphicon-plus pull-right"></span>
                 </a>
            </span>
            <hr/>
        </span>
    </div>
    <div class = "ag-addBottomPadding"></div>
</div>
