<div ng-include="'views/common/header-menu.view.client.html'"></div>

<div class="container-fluid ag-pushBody">
    <div ng-show="!model.projs" class="alert alert-info">
        <p>No projects started yet</p>
    </div>
    <div ng-show="model.projs && !model.thisUserId">
        <h2 class="ag-profileHeader"> <strong>Projects of {{model.currentUser.organization}}</strong></h2>
        <span ng-repeat="proj in model.projs">
            <span>
                <a href="#!/browseProjects/{{proj.id}}">
                    <img class="img-responsive-home"
                         ng-src="{{proj.imageLink}}"
                         alt="{{proj.title}}"/>
                    <span><h4>{{proj.title}}</h4></span>
                </a>
            </span>
            <hr/>
        </span>
    </div>


    <!--Admin functionality to add opportunities-->


    <div class = "container-fluid row" ng-show="model.projs && model.thisUserId">
        <h2 class="ag-profileHeader"> <strong>Projects of {{model.thisUser.organization}}</strong></h2>
        <span ng-repeat="proj in model.projs">
            <span>
                <!--<a href="#!/admin/user/{{model.thisUserId}}/browseProjects/{{proj.id}}">-->
                    <img class="img-responsive-home"
                         ng-src="{{proj.imageLink}}"
                         alt="{{proj.title}}"/>
                    <h4>{{proj.title}}</h4>
                <!--</a>-->
            </span>
            <span>
                 <a href="#!/admin/{{model.thisUserId}}/organization/project/{{proj.id}}/opportunity/create">
                                <span class="glyphicon glyphicon-plus pull-right"></span>
                 </a>
            </span>
            <hr/>
        </span>
    </div>
    <div class = "ag-addBottomPadding"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom ag-footer-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a ng-if="model.isAdmin"
               class="navbar-link" href="#!/admin/user/{{model.thisUserId}}/details">
                <span class="glyphicon glyphicon-backward"></span>
            </a>

            <a ng-if="!model.isAdmin"
               class="navbar-link" href="#!/browseProjects/{{model.projectId}}">
                <span class="glyphicon glyphicon-backward"></span>
            </a>

        </div>
    </div>
</nav>

