<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </span>
            <a class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
                Heading Editor
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="model.widget.name"
               type="text"
               class="form-control"
               id="name"
               placeholder="html name"/>
    </div>

    <!--<div class="form-group">-->
        <label for="name">HTML</label>
        <div ng-model="model.widget.text"
             text-angular
             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
        </div>
    <!--</div>-->




    <a ng-click="model.updateWidget(model.widget)"
       class="btn btn-block btn-success">
        Submit
    </a>

    <a ng-click="model.deleteWidget()" class="btn btn-block btn-danger">
        Delete
    </a>

    <div class = "ag-addBottomPadding"></div>

</div>

<div ng-include="'views/common/footer.view.client.html'"></div>

