<div ng-include="'views/common/header-menu.view.client.html'"></div>


<div class="container-fluid ag-pushBody">
    <div class="row container-fluid" ng-show="model.orgs">
        <h2 class="ag-profileHeader">Non-profit Organizations</h2>
        <!--{{model.orgs}}-->
        <div ng-repeat="org in model.orgs">
            <div>
                <a href="#!/browseOrganizations/{{org.id}}">
                    <img class="img-responsive-home thumbnail"
                         ng-src="{{org.logoUrl}}"
                         alt="{{org.name}}"/>
                    <span><h4>{{org.name}}</h4></span>
                </a>

                <p>Total Projects: {{org.totalProjects}}</p>
                <p>Active Projects: {{org.activeProjects}}</p>
                <hr/>

            </div>
        </div>
    </div>
    <div class = "ag-addBottomPadding"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom ag-footer-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link" href="#!/">
                <span class="glyphicon glyphicon-backward"></span>
            </a>

        </div>
    </div>

</nav>

