<nav class="navbar navbar-default navbar-fixed-top ag-menu-navbar">
    <div class="container-fluid ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <i class="" aria-hidden="true"></i>
                <strong>HandOuts</strong>
            </a>

        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="">

                    <form ng-show="model.currentUser.role != 'ADMIN' && model.currentUser.role != 'ORGANIZATION'" class="" action="">
                        <input class="input_text grid-9 grid-xl-10 ag-search"
                               type="text"
                               placeholder="I care about..."
                               name="q"
                               title="Search for nonprofits">
                        <a class="glyphicon glyphicon-search"></a>
                    </form>
                </li>

                <li class="">
                    <a ng-if="model.currentUser.role != 'ADMIN' &&
                              model.currentUser.role != 'ORGANIZATION'"
                       class=""
                       href="#!/user/give">
                        Give
                    </a>

                    <a ng-if="model.currentUser.role === 'ORGANIZATION'"
                       class=""
                       href="#!/organization/projects">
                        Projects
                    </a>

                    <a ng-if="model.currentUser.role === 'ADMIN'"
                       class=""
                       href="#!/users/all/manage">
                        Manage Users
                    </a>
                </li>

                <li class="">
                    <a ng-if="model.currentUser.role != 'ADMIN' && model.currentUser.role != 'ORGANIZATION'" class=""
                       href="#!//browseOrganizations">
                        Organizations
                    </a>
                </li>

                <li class="">
                    <a ng-if="model.currentUser.role != 'ADMIN'" class=""
                       href="#!/organization/opportunity/all">
                        Opportunities
                    </a>
                </li>

                <li>
                    <a ng-show="model.currentUser"
                       class=""
                       href="#!/profile">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <strong ng-if="model.currentUser.username">{{model.currentUser.username}}</strong>
                        <strong ng-if="!model.currentUser.username">{{model.currentUser.firstName}}</strong>
                    </a>

                    <a ng-show="!model.currentUser"
                       class=""
                       href="#!/login">
                        <strong>Login</strong>
                    </a>
                </li>

                <li class="">
                    <a ng-show="model.currentUser" class=""
                       ng-click="model.logout()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                    </a>

                    <a ng-show="!model.currentUser" class=""
                       href="#!/register">
                        Sign Up
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container-fluid ag-pushBody">
    <div class="row container-fluid" ng-show="model.orgs">
        <h2 class="ag-profileHeader">Non-profit Organizations</h2>
        <!--{{model.orgs}}-->
        <div ng-repeat="org in model.orgs">
            <div>
                <a href="#!/browseOrganizations/{{org.id}}">
                    <img class="img-responsive-home thumbnail"
                         ng-src="{{org.logoUrl}}"
                         alt="{{org.name}}"/>
                    <span><h4>{{org.name}}</h4></span>
                </a>

                <p>Total Projects: {{org.totalProjects}}</p>
                <p>Active Projects: {{org.activeProjects}}</p>
                <hr/>

            </div>
        </div>
    </div>
    <div class = "ag-addBottomPadding"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom ag-footer-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link" href="#!/">
                <span class="glyphicon glyphicon-backward"></span>
            </a>

        </div>
    </div>

</nav>

