<div ng-include="'views/common/header-menu.view.client.html'"></div>


<div class="container-fluid">
    <div class="ag-pushBody">
        <h2>My Favourite Projects</h2>
        <div ng-repeat="proj in model.favourites">
            <div>
                <a href="#!/browseProjects/{{proj.projectId}}">
                    <img class="img-responsive-home thumbnail"
                         ng-src="{{proj.imageLink}}"
                         alt="{{proj.title}}"/>
                    <span><h4>{{proj.title}}</h4></span>
                </a>

                <p>by {{proj.organization}}  |  {{proj.country}}</p>
            </div>
            <hr/>
        </div>
    </div>


    <div class = "ag-addBottomPadding"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom ag-footer-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-left">

            <a class="navbar-link" href="#!/browseProjects/{{model.projectId}}">
                <span class="glyphicon glyphicon-backward"></span>
            </a>

        </div>
    </div>
</nav>