<div ng-include="'views/common/header-menu.view.client.html'"></div>

<div class="ag-pushBanner">
</div>
<div class="container-fluid ag-pushBody">
    <div class="input-group">
        <input ng-keyup="$event.keyCode == 13 && model.getProjectsByKeyWords(keywordsQuery)"
               ng-model="keywordsQuery"
               type="text"
               class="form-control"
               placeholder="Enter Keywords">
        <span class="input-group-btn">
        <a ng-click="model.getProjectsByKeyWords(keywordsQuery)"
           class="btn btn-default"
           type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
        <span>
            <input ng-keyup="$event.keyCode == 13 && model.getProjectsByCountry(countryQuery)"
                   ng-model="countryQuery"
                   type="text"
                   class="form-control"
                   placeholder="All Countries">
        </span>
        <span class="input-group-btn">
        <a ng-click="model.getProjectsByCountry(countryQuery)"
           class="btn btn-default"
           type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>

        <span>
            <input ng-keyup="$event.keyCode == 13 && model.getProjectsByCauses(causeQuery)"
                   ng-model="causeQuery"
                   type="text"
                   class="form-control"
                   placeholder="All Causes">
        </span>
        <span class="input-group-btn">
        <a ng-click="model.getProjectsByCauses(causeQuery)"
           class="btn btn-default"
           type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>

    <div class="row container-fluid" ng-show="model.projs">
        <div ng-show = "model.error" class="alert alert-info">
            <p>{{model.error}}</p>
        </div>

        <h4 ng-if ="model.numberFound == '0'">
            No active projects found.
        </h4>

        <h4 ng-show="!model.error && model.numberFound > 0">Search Project Result</h4>
        <div ng-show="model.numberFound > 0"
             ng-repeat="proj in model.projs">
            <div>

                <a ng-show="model.currentUser.role != 'ADMIN'"
                   href="#!/browseProjects/{{proj.id}}">
                    <img class="img-responsive-home thumbnail"
                         ng-src="{{proj.imageLink}}"
                         alt="{{proj.title}}"/>
                    <span><h4>{{proj.title}}</h4></span>
                </a>

                <a ng-show="model.currentUser.role === 'ADMIN'"
                   href="#!/admin/user/{{model.thisUserId}}/browseProjects/{{proj.id}}">
                    <img class="img-responsive-home thumbnail"
                         ng-src="{{proj.imageLink}}"
                         alt="{{proj.title}}"/>
                    <span><h4>{{proj.title}}</h4></span>
                </a>

                <p>by {{proj.organization.name}}</p>

            </div>
        </div>
    </div>
    <div class = "ag-addBottomPadding"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom ag-footer-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a ng-if="model.isAdmin"
               class="navbar-link" href="#!/admin/user/{{model.thisUserId}}/details">
                <span class="glyphicon glyphicon-backward"></span>
            </a>

            <a ng-if="!model.isAdmin"
               class="navbar-link" href="#!/">
                <span class="glyphicon glyphicon-backward"></span>
            </a>

        </div>
    </div>
</nav>
