<nav class="navbar navbar-default navbar-fixed-top ag-menu-navbar">
    <div class="container-fluid ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <i class="" aria-hidden="true"></i>
                <strong>HandOuts</strong>
            </a>

        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="">

                    <form class="" action="">
                        <input class="input_text grid-9 grid-xl-10 ag-search"
                               type="text"
                               placeholder="I care about..."
                               name="q"
                               title="Search for nonprofits">
                        <a href="#!search"class="glyphicon glyphicon-search"></a>
                    </form>
                </li>

                <li class="">
                    <a class=""
                       href="#!/user/give">
                        GIVE
                    </a>
                </li>

                <li class=""
                    ng-if = "model.user._id">
                    <a class="">
                        <i class="fa fa-shopping-cart tnn-logo-navbar" aria-hidden="true"></i>
                    </a>
                </li>

                <li class=""
                    ng-if = "!model.user._id">
                    <a class=""
                    ng-click="model.login();">
                        Login
                    </a>
                </li>

                <li class=""
                    ng-if = "model.user._id">
                    <a class="" href="#!/profile">
                        <strong>{{model.user.username}}</strong>
                        <i class="fa fa-user tnn-logo-navbar" aria-hidden="true"></i>
                    </a>
                </li>

                <li class=""
                    ng-if = "model.user._id">
                    <a class=""
                       ng-click="model.logout()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> LOGOUT
                    </a>
                </li>

                <li class=""
                    ng-if = "!model.user._id">
                    <a class=""
                       ng-click="model.register()">
                    </a>
                </li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="ag-pushBanner">
</div>




<div class="container-fluid ag-pushBody">
    <div class="input-group">
        <input ng-model="keywordsQuery"
               type="text"
               class="form-control"
               placeholder="Enter Keywords">
        <span class="input-group-btn">
        <a ng-click="model.getProjectsByKeyWords(keywordsQuery)"
           class="btn btn-default"
           type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
        <span>
            <input ng-model="countryQuery"
                   type="text"
                   class="form-control"
                   placeholder="All Countries">
        </span>
        <span class="input-group-btn">
        <a ng-click="model.getProjectsByCountry(countryQuery)"
           class="btn btn-default"
           type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>

        <span>
            <input ng-model="causeQuery"
                   type="text"
                   class="form-control"
                   placeholder="All Causes">
        </span>
        <span class="input-group-btn">
        <a ng-click="model.getProjectsByCauses(causeQuery)"
           class="btn btn-default"
           type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>

    <div class="row container-fluid" ng-show="model.projs">
        <div ng-show = "model.error" class="alert alert-info">
            <p>{{model.error}}</p>
        </div>

        <h4 ng-if ="model.projs.numberFound == 0">
            No active projects found.
        </h4>

        <h4 ng-show="!model.error && model.projs.numberFound > 0">Search Project Result</h4>
        <div ng-show="model.projs.numberFound > 0"
             ng-repeat="proj in model.projs">
            <div>
                <a ng-show="model.user.role != 'ADMIN'"
                   href="#!/browseProjects/{{proj.id}}">
                    <img class="img-responsive-home thumbnail"
                         ng-src="{{proj.imageLink}}"
                         alt="{{proj.title}}"/>
                    <span><h4>{{proj.title}}</h4></span>
                </a>

                <a ng-show="model.user.role === 'ADMIN'"
                   href="#!/admin/user/{{model.thisUserId}}/browseProjects/{{proj.id}}">
                    <img class="img-responsive-home thumbnail"
                         ng-src="{{proj.imageLink}}"
                         alt="{{proj.title}}"/>
                    <span><h4>{{proj.title}}</h4></span>
                </a>

                <p>by {{proj.organization.name}}</p>

            </div>
        </div>
    </div>
    <div class = "ag-addBottomPadding"></div>
</div>

<!--<div class="ag-BannerBg">-->
    <!--<div class="col-xs-2 logo">Find a project</div>-->
<!--</div>-->

