<div ng-include="'views/common/header-menu.view.client.html'"></div>


<div class="container-fluid ag-pushBody">
    <!--<div ng-repeat="project in model.projects">-->
    <div>
        <h3>{{model.org.name}}</h3>
        <p> {{model.org.country}} , {{model.org.state}}, {{moedel.org.city}}</p>


        <!--<div class="col-xs-12 text-right">-->
            <!--<a ng-click="model.unfollowOrganization(model.orgs.id)" class="btn btn-danger ng-hide">-->
                <!--Unfollow-->
            <!--</a>-->
            <!--<a ng-click="model.followOrganization(model.orgs.id)" class="btn btn-success">-->
                <!--Follow-->
            <!--</a>-->
        <!--</div>-->

        <img class="img-responsive-home ag-fullWidth"
             ng-src="{{model.org.logoUrl}}"
             alt="{{model.org.name}}"/>
        <div>
            <b>Mission</b>
            <p>{{model.org.mission}}</p>
        </div>

        <div>
            <span>Total Projects: {{model.org.totalProjects}}</span> &nbsp; &nbsp;
            <span>Website: {{model.org.url}}</span> &nbsp; &nbsp;

        </div>


        <!--<p>by {{org.organization.name}}</p>-->

    </div>
    <!--</div>-->
</div>

</div>
<div class = "ag-addBottomPadding"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom ag-footer-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a ng-if="!model.isAdmin"
               class="navbar-link" href="#!/browseOrganizations">
                <span class="glyphicon glyphicon-backward"></span>
            </a>

        </div>
    </div>
</nav>
