<div class="container-fluid">
        <!--<div ng-repeat="project in model.projects">-->
            <div>
                <h3>{{model.proj.title}}</h3>
                <p>by {{model.proj.organization.name}} , {{model.proj.country}}</p>
                <img class="img-responsive-home ag-fullWidth"
                     ng-src="{{model.proj.imageLink}}"
                     alt="{{model.proj.title}}"/>
                <div>
                    <b>Summary</b>
                    <p>{{model.proj.summary}}</p>
                </div>

                <div>
                    <span>Goal: {{model.proj.goal}}</span> &nbsp; &nbsp;
                    <span>funding: {{model.proj.funding}}</span> &nbsp; &nbsp;
                    <span>remaining: {{model.proj.remaining}}</span>

                </div>


                <!--<p>by {{org.organization.name}}</p>-->

            </div>
        <!--</div>-->
    </div>

</div>
<div class = "ag-addBottomPadding"></div>
</div>