<div ng-include="'views/common/header-menu.view.client.html'"></div>

<div class="container-fluid ag-pushBody">
    <h3 class = "ag-profileHeader">Profile: {{model.user.firstName}}  {{model.user.lastName}}</h3>
<div ng-show="!model.myProfile && model.user.role === 'DONOR' && model.currentUser.role != 'ORGANIZATION'"
     class = "row">

    <div class="col-xs-12 ag-profileHeader">
        <a ng-hide="model.followed" ng-click="model.follow(model.user._id)"
           class="btn btn-success">
            Follow
        </a>
        <a ng-show="model.followed" ng-click="model.unfollow(model.user._id)"
           class="btn btn-danger">
            Unfollow
        </a>

    </div>

</div>

    <div class="container-fluid ag-pushBody">
        <ul class="nav nav-tabs nav-justified" role="tablist">

            <li ng-class="model.tab==='Followers'?'active':''"
                ng-show="model.currentUser.role == 'DONOR'"
                style="font-size: large;font-weight: bold"><a class="" ng-click="model.tab='Followers'">Followers</a></li>
            <li ng-class="model.tab==='Following'?'active':''"
                ng-show="model.currentUser.role == 'DONOR'"
                style="font-size: large;font-weight: bold"><a class="" ng-click="model.tab='Following'">Following</a></li>
            <li ng-class="model.tab==='Favourites'?'active':''"
                ng-show="model.currentUser.role == 'DONOR' && model.followed"
                style="font-size: large;font-weight: bold"><a class="" ng-click="model.tab='Favourites'">Favourites</a></li>
        </ul>

        <div ng-show="model.tab ==='Followers' && model.currentUser.role === 'DONOR'" class="" style="background: rgba(0, 0, 0, .7);">
            <div class="top-content" id="follower-content">
                <div class="inner-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 text ">
                                <h1><strong>Followers</strong> </h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3 form-box ag-margin-left">
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <!--<h3>Register to Handouts</h3>-->
                                        <!--<p>Enter your username and password to log on:</p>-->
                                    </div>
                                    <!--<div class="form-top-right">-->
                                    <!--<i class="fa fa-key"></i>-->
                                    <!--</div>-->
                                </div>
                                <div class="form-bottom">
                                    <div ng-show="model.error"  class="alert alert-danger" role="alert">
                                        {{model.error}}
                                    </div>

                                    <div ng-show="model.message" class="alert alert-success" role="alert">
                                        {{model.message}}
                                    </div>

                                    <div ng-show="model.user.followers.length == 0"
                                         class="alert alert-info">
                                        {{model.user.firstName}} is not being followed by anyone yet
                                    </div>

                                    <div ng-show="model.user.followers.length > 0"
                                         ng-repeat="follower in model.user.followers">
                                        <a href = "#!/user/{{follower._id}}">
                                            {{follower.firstName}}  {{follower.lastName}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div ng-show="model.tab==='Following'" class="" style="background: rgba(0, 0, 0, .7);">
            <div class="top-content" id="following-content">
                <div class="inner-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 text ">
                                <h1><strong>Following</strong> </h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3 form-box ag-margin-left">
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <!--<h3>Register to Handouts</h3>-->
                                        <!--<p>Enter your username and password to log on:</p>-->
                                    </div>
                                    <!--<div class="form-top-right">-->
                                    <!--<i class="fa fa-key"></i>-->
                                    <!--</div>-->
                                </div>
                                <div class="form-bottom">
                                    <div ng-show="model.error"  class="alert alert-danger" role="alert">
                                        {{model.error}}
                                    </div>

                                    <div ng-show="model.message" class="alert alert-success" role="alert">
                                        {{model.message}}
                                    </div>

                                    <div ng-show="model.user.following.length == 0"
                                         class="alert alert-info">
                                        {{model.user.firstName}} is not following anyone yet
                                    </div>

                                    <div ng-show="model.user.following.length > 0"
                                         ng-repeat="following in model.user.following">
                                        <a href = "#!/user/{{following._id}}">
                                            {{following.firstName}}  {{following.lastName}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div ng-show="model.tab==='Favourites"
             ng-hide="!model.followed" class="" style="background: rgba(0, 0, 0, .7);">
            <div class="top-content" id="favourites-content">
                <div class="inner-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 text ">
                                <div ng-if="model.user.favourites.length > 0">
                                    <h1><strong>{{model.user.firstName}}'s</strong> Favourite Projects</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3 form-box ag-margin-left">
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <!--<h3>Register to Handouts</h3>-->
                                        <!--<p>Enter your username and password to log on:</p>-->
                                    </div>
                                    <!--<div class="form-top-right">-->
                                    <!--<i class="fa fa-key"></i>-->
                                    <!--</div>-->
                                </div>
                                <div class="form-bottom">
                                    <div ng-show="model.error"  class="alert alert-danger" role="alert">
                                        {{model.error}}
                                    </div>

                                    <div ng-show="model.message" class="alert alert-success" role="alert">
                                        {{model.message}}
                                    </div>
                                    <div ng-if="model.user.favourites.length == 0">
                                        {{model.user.firstName}} has no favourite projects yet
                                    </div>

                                    <div ng-repeat="fav in model.user.favourites" class="ag-myOpportunities-list">
                                        <div class="hidden-xs">
                                            <img  class="ag-myOpportunities-thumbnail"
                                                  ng-src="{{fav.imageLink}} ">
                                        </div>

                                        <div>
                                            <h4><a href="#!/browseProjects/{{fav.projectId}}">{{fav.title}}</a></h4>
                                            <div style="color: grey">
                                                by {{fav.organization}}  |  {{fav.country}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>